---
import desktopImage from '../../images/desktop.webp';
import laptopImage from '../../images/laptop.webp';
import tabletImage from '../../images/tablet.webp';
import mobileImage from '../../images/mobile.webp';
import fallbackImage from '../../images/hero.jpg';
import Button from '../common/Button.astro';

import PictureImage from '../common/PictureImage.astro';
---

<div class='container'>
  <div class='background-container'>
    <PictureImage
      mobileImgUrl={mobileImage}
      laptopImgUrl={laptopImage}
      tabletImgUrl={tabletImage}
      desktopImgUrl={desktopImage}
      fallbackImgUrl={fallbackImage}
    />
    <div class='content'>
      <h1>Unlock Big Business Expertise Designed for Small Businesses</h1>
      <p>
        Affordable, expert advisory and consulting services from someone who
        understands your unique needs.
      </p>
      <div class='btn-container'>
        <Button
          className='cta'
          text='Free Consultation'
          label='free consultation button'
          variant='secondary'
        />
      </div>
    </div>
  </div>
</div>

<style lang='scss'>
  @import '../../styles/variables.scss';

  /*
    --- Hero Images ---
    Desktop - 1800x650
    Laptop - 1400x506
    Tablet - 810x480
    Mobile - 576x600
  */

  .container {
    background-color: $dark;
    height: auto;
  }

  .background-container {
    height: 37.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    max-width: 36rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    top: calc(42% - 10rem);
    left: calc(50% - 19rem);
    position: absolute;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: $white;
    max-width: 38rem;

    h1 {
      font-family: 'LibreFranklinSemiBold', sans-serif;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    p {
      font-family: 'LibreFranklinMedium', sans-serif;
      font-size: 1.25rem;
      max-width: 32rem;
      margin-bottom: 2.25rem;
    }
  }

  .btn-container {
    width: 100%;
    max-width: $max-btn-width;
  }

  // Above mobile
  @media only screen and (min-width: $mobile) {
    .content {
      h1 {
        font-size: 2.5rem;
        line-height: 3.75rem;
      }

      p {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 2rem;
      }
    }

    .background-container {
      height: 29.75rem;
      max-width: 50.625rem;
    }

    .btn-container {
      // width: max-content;
    }
  }

  // Laptop
  @media only screen and (min-width: $tablet) {
    .content {
      h1 {
        // margin-bottom: 3rem;
      }
    }

    .background-container {
      height: 31.25rem;
      max-width: 87.5rem;
    }
  }

  // Above Desktop
  @media only screen and (min-width: $desktop) {
    .background-container {
      height: 40.25rem;
      max-width: 112.5rem;
    }
  }
</style>
