---
import { Picture, Image } from 'astro:assets';
// import myImage from '../../images/hero_1x.webp';
// import myImage from '../../images/final.jpg';
import Button from '../common/Button.astro';
// console.log(myImage.width);
---

<div class='test'>
  <!-- <Image
    src={myImage}
    widths={[240, 540, 720, myImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1640px) 720px, ${myImage.width}px`}
    alt='A description of my image.'
  /> -->
  <!-- <Picture
    src={myImage}
    widths={[240, 540, 720, myImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${myImage.width}px`}
    formats={['webp', 'jpg']}
    alt=''
  /> -->
  <!-- 
  <Image
    src={myImage}
    alt=''
    width={myImage.width}
    densities={[1, 1.5, 2]}
  /> -->

  <!-- <Image
    src={myImage}
    alt=''
    widths={[240, 540, 720, myImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${myImage.width}px`}
  /> -->

  <picture>
    <source
      media='(min-width: 930px)'
      srcset='/src/images/hero-desktop.webp'
    />
    <source
      media='(min-width: 564px)'
      srcset='/src/images/hero-tablet.webp'
    />
    <source
      media='(max-width: 564px)'
      srcset='/src/images/hero-mobile.webp'
    />
    <img
      src='/src/images/hero.webp'
      alt=''
    />
  </picture>

  <div class='container wrapper'>
    <h1 class='lf-semibold'>Business Consulting & Advisory Services</h1>
    <div class='btn-container'>
      <Button
        className='cta'
        text='Free Consultation'
      />
    </div>
  </div>
</div>

<!-- <div class='image'>
  <div class='container wrapper'>
    <h1 class='lf-semibold'>Business Consulting & Advisory Services</h1>
    <div class='btn-container'>
      <Button
        className='cta'
        text='Free Consultation'
      />
    </div>
  </div>
</div> -->

<!-- <div class='test'>
  <div class='image'>
    <div class='container wrapper'>
      <h1 class='lf-semibold'>Business Consulting & Advisory Services</h1>
      <div class='btn-container'>
        <Button
          className='cta'
          text='Free Consultation'
        />
      </div>
    </div>
  </div>
</div> -->

<style lang='scss'>
  @import '../../styles/variables.scss';

  .test {
    height: 22rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $dark;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  picture {
    min-width: 100%;
    min-height: 100%;
  }

  // .image {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100%;
  //   background-image: url('../../images/hero.webp');
  //   // background-position: center;
  //   background-position: 25% 75%;
  //   // background-position: bottom 50px right 0;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   // margin-top: -0.25rem;
  //   // position: relative;
  //   // overflow: hidden;
  // }

  .container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $white;
    max-width: 26.25rem;

    h1 {
      margin-bottom: 1.5rem;
    }
  }

  .btn-container {
    width: 100%;
    max-width: $max-btn-width;
  }

  // Above mobile
  @media only screen and (min-width: $mobile) {
    .container {
      h1 {
        margin-bottom: 2rem;
      }
    }

    .test {
      height: 33.75rem;
    }

    .btn-container {
      width: max-content;
    }
  }

  // Above tablet
  @media only screen and (min-width: $tablet) {
    .container {
      h1 {
        margin-bottom: 3rem;
      }
    }

    .test {
      height: 38rem;
    }
  }
</style>
