---
import { Image } from 'astro:assets';
import logo from '../../images/hsn-logo.svg';
import { Icon } from 'astro-icon/components';

interface Props {
  links: string[];
}

const { links } = Astro.props;
---

<nav>
  <div class='wrapper container'>
    <a
      href='#'
      aria-label='logo link'
      class='logo'
    >
      <Image
        src={logo}
        alt='Logo'
        width='43'
        height='60'
      />
    </a>

    <button
      data-active='false'
      id='mobile-button'
      class='mobile-button'
      aria-label='mobile menu button'
      type='button'
    >
      <Icon
        class='mobile-icon'
        name='material-symbols:menu-rounded'
        width={48}
        height={48}
      />
    </button>

    <ul>
      {
        links.map((link: string) => (
          <li>
            <button
              class='lf-medium nav-link'
              aria-label={`nav link ${link}`}
              type='button'
            >
              {link}
            </button>
          </li>
        ))
      }
    </ul>
  </div>
  <div
    id='mobile-menu'
    data-active='false'
    class='mobile-menu hidden'
  >
    <ul>
      {
        links.map((link: string) => (
          <li>
            <button
              class='lf-medium nav-link'
              aria-label={`nav link ${link}`}
              type='button'
            >
              {link}
            </button>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style lang='scss'>
  @use 'sass:color';
  @import '../../styles/variables.scss';

  nav {
    background-color: $dark;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 3.75rem;
    padding: 1.25rem 0;
    // display: flex;
    // justify-content: center;
  }

  .container {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100%;

    ul,
    .logo {
      display: none;
    }
  }

  button {
    background: none;
    border: 0;
    cursor: pointer;
  }

  button {
    color: $white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $link-hover-color;
    }
  }

  #mobile-button {
    transition: all 0.3s ease-out;

    &[data-active='false'] {
      transform: rotate(0deg);
    }

    &[data-active='true'] {
      transform: rotate(-90deg);
    }
  }

  .mobile-icon {
    display: block;
    color: $white;

    &:hover {
      color: $link-hover-color;
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $dark;
    position: absolute;
    width: 100%;

    ul {
      overflow: hidden;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      margin: 0.75rem 0;

      &:first-child {
        margin: 0.5rem 0 0.75rem !important;
      }
    }

    button {
      color: $white;
      display: block;
      padding: 5px 20px;
      text-align: center;

      &:hover {
        color: $link-hover-color;
      }
    }

    &[data-active='false'] {
      ul {
        height: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease;
      }
    }

    &[data-active='true'] {
      ul {
        height: 19rem;
        opacity: 1;
        transition: all 0.5s ease;
        list-style-type: none;
      }
    }
  }

  // Above mobile
  @media only screen and (min-width: $mobile) {
    nav {
      position: static;
    }

    .container {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center;
      gap: 1.25rem;

      ul {
        display: grid;
        grid-template-columns: repeat(5, min-content);
        grid-gap: 2rem;
        list-style: none;
        justify-self: center;
        margin-right: 5rem;
      }

      .logo {
        display: block;
      }
    }

    .mobile-icon,
    .mobile-button {
      display: none;
    }

    .mobile-menu {
      display: none;
    }
  }
</style>

<script>
  const links = document.querySelectorAll('button.nav-link');
  const mobileButton = document.getElementById('mobile-button');
  const mobileMenu = document.getElementById('mobile-menu');

  links.forEach((link: HTMLAnchorElement) => {
    link.addEventListener('click', () => {
      mobileButton.dataset.active = 'false';
      mobileMenu.dataset.active = 'false';
      document
        .getElementById(link.innerHTML.toLowerCase().trim())
        .scrollIntoView({
          behavior: 'smooth',
        });
    });
  });

  mobileButton.addEventListener('click', () => {
    if (mobileMenu.dataset.active === 'true') {
      mobileButton.dataset.active = 'false';
      mobileMenu.dataset.active = 'false';
    } else {
      mobileButton.dataset.active = 'true';
      mobileMenu.dataset.active = 'true';
    }
  });
</script>
