---
interface Props {
  name: string;
  labelText: string;
  value: string;
  isTextarea?: boolean;
}

const { name, labelText, value, isTextarea } = Astro.props;
---

<div class='container'>
  <label for={name}>{labelText}</label>
  {
    isTextarea ? (
      <textarea name={name} />
    ) : (
      <input
        autocomplete='off'
        name={name}
        aria-label={name}
        value={value}
        placeholder={labelText}
      />
    )
  }
</div>

<style lang='scss'>
  @import '../../styles/variables.scss';

  .container {
    display: flex;
    flex-direction: column;

    label {
      display: none;
    }
  }

  input,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0.08rem solid $dark;
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;

    &::placeholder {
      color: $neutral-dark;
      font-style: italic;
    }

    &::-ms-input-placeholder {
      color: $neutral-dark;
      font-style: italic;
    }

    &:focus,
    &:focus-visible,
    &:active {
      outline: $primary solid 0.1rem;
      border-color: $primary;
    }
  }

  input {
    margin-bottom: 2rem;
  }

  textarea {
    min-height: 12.5rem;
  }
</style>
